<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= header %></h1>
    <h3><a href="<%= content.formClientUrl %>">Form Client</a></h3>
    <h3><a href="<%= content.formVendorUrl %>">Form Vendor</a></h3>
  </body>
</html>